---
import LanguageSelector from "@components/languageselector.astro";
import { menuitems } from "@components/navbar/navbar.astro";
import ThemeSelector from "@components/themeselector.astro";
import logo from "assets/logo.svg";
import { localizePath } from "astro-i18next";
import { t } from "i18next";
---

<footer class="pb-12 pt-12 dark:bg-stone-950">
	<div class="mx-auto max-w-6xl px-6 md:px-12 lg:px-6 xl:px-0">
		
		
		<ul role="list" class="flex flex-wrap items-center justify-center gap-4 py-4 text-gray-600 dark:text-white sm:gap-8">
			<li role="listitem">
				<a href={localizePath("/")} class="duration-300 hover:text-gray-900 dark:hover:text-gray-100">Home</a>
			</li>
			{
				menuitems.map(
					(item) =>
						item &&
						item.path && (
							<li role="listitem">
								<a href={localizePath(item.path)} class="duration-300 hover:text-gray-900 dark:hover:text-gray-100">
									{t(item.title)}
								</a>
							</li>
						)
				)
			}
		</ul>
		
		<script type="application/ld+json">
                    {
                        "@context": "http://schema.org",
                        "@type": "Organization",
                        "name": "Tiktokio",
                        "url": "https://tiktokio.cam",
                        "logo": "/apple-touch-icon-180x180.webp",
                        "image": "/meta/opengraph.webp",
                        "description":"TikTokio - Tiktok downloader to online download tiktok videos in mp4 without watermark easily, Tiktok video downloader is Fast, easy and works on any device",
                        "email": "contact@tiktokio.cam"
                    }
                </script>
                                <script type='application/ld+json'>
                    {
                        "@context": "http://schema.org",
                        "@type": "WebApplication",
                        "name": "TikTok downloader",
                        "applicationCategory": "EntertainmentApplication",
                        "aggregateRating": {
                            "@type": "AggregateRating",
                            "ratingValue": "4.9",
                            "reviewCount": "297531"
                        }
                    }
                </script>
				<script type="application/ld+json">
				{ "@context": "http://schema.org", 
				"@type": "WebPage", 
				"url": "https://tiktokio.cam", 
				"inLanguage":"en-US", 
				"description": "TikTokio is Tiktok video downloader to online download tiktok videos without watermark easily, download video from tiktok, free download tiktok video in mp4." } 
				</script>
		<div class="m-auto mt-4 flex w-max items-center justify-between space-x-4 text-gray-500 dark:text-white">
			<!--Social Sharing Section-->
		</div>
		<div class="flex justify-center mt-12 gap-3">
			<LanguageSelector
				showFlag={false}
				languageMapping={{ en: "English", it: "Italiano" }}
				class="appearance-none py-1 px-2 rounded bg-slate-100 dark:bg-stone-950"
			/>
			<ThemeSelector />
		</div>
		<div class="mt-4 text-center">
			<span class="text-sm tracking-wide text-gray-500 dark:text-white">Copyright © {t("features.tiktokio")} 2025 - Present. All rights reserved</span>
		</div>
	</div>
</footer>
